{% extends 'base.html' %}
{% load static %}

{% block header %}
      <header id="topnav">
            <div class="topbar-main">
                <div class="container">

                    <!-- Logo container-->
                    <div class="logo">
                        <a href="Accueil" class="logo"><span>C<i
                                class="md md-album"></i>lis-libre</span></a>
                    </div>
                    <!-- End Logo container-->
                    <div class="menu-extras">
                        <ul class="nav navbar-nav navbar-right pull-right">
                            <li>
                                <a href = "{% url 'travel-add'%}" ><button type="button" class="btn btn-default dropdown-toggle waves-effect waves-light profile">Transporter un colis<span class="m-l-5"><i class="md md-accessibility"></i></span></button></a>
                            </li>
                            <li>
                                <a href="{% url 'new_inscription'%}" class="dropdown-toggle waves-effect waves-light profile">Inscription </a>
                            </li>
                            <li>
                                <a href="{% url 'connexion'%}" class="dropdown-toggle waves-effect waves-light profile">Connexion </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
{% endblock header%}

{% block content %}
        <div class="container">

          <div class="row head3 ">
            <div class="col-sm-12 ">

            <div class="btn-group">
                        
                     <!--    <a href="/Rechercher"><button type="button" class="btn btn-default dropdown-toggle waves-effect waves-light profile">E n v o y e r    <span class="m-l-5"><i class="md md-accessibility"></i></span></button></a> -->


                   <form action = "{% url 'transporteur' %}" method = "post" class="form-inline" role="form">
                   {% csrf_token %}
                       <div class="form-group">
                           <input type="text" class="form-control" placeholder="Pays de départ" name = "lieu_depart">
                       </div>

                       <div class="form-group m-l-10">
                           <input type="text" class="form-control" placeholder="Pays d'arrivée" name = "lieu_arrivee">
                       </div>
                       <div class="form-group m-l-10">
                           <input type="date" class="form-control" placeholder="Date" name = "date">
                       </div>
                       <button type="submit" class="btn btn-success waves-effect waves-light m-l-10 btn-md">Trouver un transporter</button>
                   </form>
            </div>
          </div>
          <br/>
          <div class="row me-row content-ct">
            <h2 class="row-title">Pourquoi covaliser ?</h2>
            <div class="col-md-4 feature">
              <span class="ti-face-smile"></span>
              <h3>Convivial</h3>
              <p>Rendre service et partager ses frais</p>
            </div>
            <div class="col-md-4 feature">
              <span class="ti-shine"></span>
              <h3>Ecologique</h3>
              <p>Réduction des gaz à effets de serre</p>
            </div>
            <div class="col-md-4 feature">
              <span class="ti-world"></span>
              <h3>Faites des rencontres!</h3>
              <p>Rencontrez des gens de tous les horizons</p>
            </div>
          </div>

             <!-- Start: Speakers -->
        <div class="row me-row content-ct speaker">
          <h2 class="row-title">Plusieurs départs chaque jour</h2>
          <div class="col-md-4 col-sm-6 feature" style="background-color: #99ffcc">
          <img src= "{% static "colis/assets/images/dakar.png" %}" class="speaker-img">

            <h3>Paris - Dakar</h3>
            <p>A partir de 10€ le kilo</p>
          </div>
          <div class="col-md-4 col-sm-6 feature" style="background-color: #99ffcc">
            <img src="{% static "colis/assets/images/dakar.png" %}" class="speaker-img">
            <h3>Londres - Douala</h3>
            <p>A partir de 11€ le kilo</p>
          </div>
          <div class="col-md-4 col-sm-6 feature" style="background-color: #99ffcc">
             <img src="{% static "colis/assets/images/dakar.png" %}" class="speaker-img">
            <h3>Stockholm - Accra</h3>
            <p>A partir de 13€ le kilo</p>
          </div>
        </div>
{% endblock content %}