{%extends 'base.html' %}

{% block content %}

<h2 class="row-title" style="text-align: center">Connexion</h2>
<hr/>

<form action="" method="post">
    {% csrf_token %}

    <table>
    <div class = "form-group">
    {% for field in form %}
    	<tr>
    		<td>
    			 <label class = "control-label col-sm-8"> {{ field.label_tag }} </label>
    		</td>
    		<td>
    			<div class = "col-sm-10"> {{ field }} </div>
    		</td>
    	</tr>
    {% endfor %}
    </div>
      </table>


   <div class = "col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-success ">Valider</button> 
		</div>
</form>

{% endblock content %}
